.card__title {
  margin: 0 63px 0 21px;
  padding: 0;
  color: var(--color-black);
  font-size: 24px;
  line-height: 79px;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
