.profile__info {
  margin: 0;
  padding: 26px 0 33px 0;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .profile__info {
    margin: 0 auto 0 0;
    padding: 0;
    align-items: flex-start;
    max-width: calc(100% - 330px);
  }
}
