.card__like-icon {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url('../../../images/icon-like.svg');
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.card__like-icon:hover {
  opacity: .5;
}
