.cards__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: 361px;
  justify-content: center;
  gap: 20px 17px;
  list-style: none;
}
