.popup__container {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 25px 22px;
  width: 282px;
  background-color: var(--color-white);
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .popup__container {
    padding: 34px 36px 37px 34px;
    width: 430px;
  }
}
