.cards__like {
  position: absolute;
  right: 20px;
  bottom: 30px;
  width: 22px;
  height: 19px;
  background-image: url('../../../images/icon-like.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.cards__like:hover {
  opacity: .5;
}
