.popup__close {
  position: absolute;
  top: -36px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background-image: url('../../../images/icon-close-form.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .popup__close {
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
  }
}
