.popup__submit-btn {
  margin-top: 15px;
  padding: 0;
  width: 100%;
  font-size: 14px;
  line-height: 46px;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.popup__submit-btn:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .popup__submit-btn {
    margin-top: 18px;
    font-size: 18px;
    line-height: 50px;
  }
}
