.card__delete {
  position: absolute;
  top: 20px;
  right: 14px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-image: url('../../../images/icon-delete.svg');
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 19px;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.card__delete:hover {
  opacity: .6;
}
